<html>
    <head>
    </head>
    <body>
    <a href="/">Home</a> <a href="/find">Find User</a> <a href="/what_team">Find Team</a><br><br>

            <form action="/team_found" method="post">
            <p>Please specify the team</p>
            <input type= "text" name="name">
            <input type= "submit" value= "submit">
            </form>
    </body>
</html>