<html>
    <head>
    </head>
    <body>
    <a href="/">Home</a> <a href="/find">Find User</a> <a href="/what_team">Find Team</a><br><br>
        <form action="/found" method="post">
        <p>User's Name</p>
        <input type= "text" name="name">
        <input type= "submit" value= "submit">
        </form>
    </body>
</html>